
/* Mobile */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {  
    background-color: orange;
    padding: 1em;
}

header h1 {
    text-align: center;
    color: white;
}

body {

    background-image: url("../images/myanmar02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    font-family: open Sans, sans-serif;
}

.container {
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
}

.input-group-append {
    justify-content: space-evenly;
}

select {
    font-size: 1.5em;
    margin-bottom: 1em;
    background-color: white;
}

#nameInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    
}

#date-marg {
    margin-top: 1em;
    margin-bottom: 1em;
    columns: brown;
}

h2, h3 {
    padding: 20px;
}

/* Tablet */

@media screen and (min-width: 768px) {

    .container {
        flex-direction: row;
        text-align: left;
    }

    .input-group {
        width: 100%;
    }

    .input-group-append {
        justify-content: flex-start;
    }
    
    select {
        width: 19.5em;
    }

}

/* Desktop */

@media screen and (min-width: 992px) {

    .container {
        flex-direction: row;
        text-align: left;
        justify-content: space-evenly;
    }

    .input-group {
        width: 100%;
    }

    .input-group-append {
        justify-content: flex-start;
    }

    select {
        width: 19.5em;
    }
}